.bg-one{
    width: 100vw;
    height: 100vh;
    background-color: #bc2a32;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
     z-index: -100;
}
.menu-btn{
    display: none;
}
.bg-two{
    position: absolute;
    width: 1208px;
    height: 1208px;
    left: 86px;
    top: 100px;
    border-radius: 100%;
    background-color: #e2323c;
     z-index: -90;
}
.bg-three{
    position: absolute;
    width: 868px;
    height: 868px;
    left: 256px;
    top: 270px;
    border-radius: 100%;
    background-color: #e7545d;
     z-index: -80;
}
.bg-four{
    position: absolute;
    width: 528px;
    height: 528px;
    left: 426px;
    top: 440px;
    border-radius: 100%;
    background-color: #ec767d;
     z-index: -70;
}

.nav{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
     z-index: 0;
    z-index: 10;

}
.nav .nav-links{
    display: flex;
    align-items: baseline;
    z-index: 100;

}
.nav a{
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    z-index: 1000;

}
.hero-content{
     z-index: -60;
    display: flex;
    width: 50vw;

    margin: 6.5rem auto;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-content h1{
    font-size: 64px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}
.hero-content p{
    font-size: 18px;
     text-align: center;
     margin: 1rem auto;
     font-weight: 400;
}
.hero-content button{
    background-color: transparent;
    padding: 15px 50px;
    text-align: center;
    border: 1px solid #fff;
    margin-top: 2.5rem;
    max-width: max-content;
    color: #fff;
    cursor: pointer;
}
.air{
    position: absolute;
    height: 120px;
    width: 120px;
    left: 80%;
    top: 25%;
    border-radius: 0px;

}
.planet{
    height: 104px;
    width: 104px;
    left: 75%;
    top: 90%;
    border-radius: 0px;
    position: absolute;
}
.rocket{
    position: absolute;
    height: 128px;
    width: 128px;
    left: 10%;
    top: 50%;
    border-radius: 0px;

}
@media screen and (max-width: 820px) {
    .bg-one{
    width: 100vw;
    height: 100vh;
}

.bg-two{
    position: absolute;
    width: 80vw;
    height: 80vw;
   left: 10vw;
    top: 50vh;
}
.bg-three{
    position: absolute;
    width: 50vw;
    height: 50vw;
      left: 35vw;
    top: 90vh;
}
.bg-four{
    position: absolute;
    width:30vw;
    height: 30vw;
    left: 30vw;
    top: 25vh;
}
    .hero-content{
  
    margin: 2.5rem auto;
}
    .hero-content h1{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
    }
    .hero-content p{
        font-size: 16px;
        text-align: center;
        margin: 1rem auto;
        font-weight: 400;
    }
    .planet, .rocket, .air{
    height: 64px;
    width: 64px;
    }
    .nav .nav-links{
        background-color: #fff;
        color: #222;
        /* display: flex;
        display: none; */
        flex-direction: column;
        border-radius: 10px;
        padding: 15px;
        position: fixed;
         top: 2rem;
        right: 3rem;
        z-index: 1000;
    }
    .nav{
    justify-content: space-between;
}
    .nav a{
    font-size: 20px;
    line-height: 24px;
    color: #222;
    margin: 7px 20px 7px 0;
    text-decoration: none;
    transition: linear 0.3s;
    z-index: 10020;
}
    .nav a:hover{
    transform: translateY(3px);
}
.menu-btn{
    display: block;
    position: fixed;
    top: 2rem;
    right: 1rem;
    z-index: 100000;
   
}
.menu-btn svg{
    font-size: 30px;
     color: #fff;
}
.isOpen{
    display: flex;
}
.isClosed{
    display: none;
}
}