.ipchoice{
    width: 330px;
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    padding: 2rem;
    border: 2px solid #EBEAED;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0.5rem;
}
.ipchoice *{
    margin-bottom: 10px;
}
.ipchoice h3{
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #121420;
}
.ipchoice p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(27, 36, 50, 0.8);
    mix-blend-mode: normal;
    opacity: 0.7;
}
@media screen and (max-width: 820px) {
   .ipchoice{
    width: 230px;
    height: 234px;
   }
   .ipchoice h3{
    font-size: 15px;
}
.ipchoice p{
    font-size: 10px;
    line-height: 12px;
}
}